@import "../../themes.scss";
.header-container {
    background-color: $contrast-color;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    box-shadow: 0px -2px 1.5em black;
}


.logo-container {
    font-size: $sub-header-font-size;
}

.right-header-container {
    &>a,
    span {
        text-decoration: none;
        padding: 0px 1em;
    }
}