@import '../../themes.scss';
.fin-log-button {
    background-color: $header-color;
    border: none;
    padding: 0.4em 1.3em;
    border-radius: 3px;
    &:hover {
        background-color: $button-hover-color;
        box-shadow: 0px 0px 1em $box-shadow-color;
    }
    box-shadow: 0px 0px 0.5em $box-shadow-color;
}