<div class="container card mt-5 add-trade-form-container">
    <form [formGroup]="addTradeForm" (ngSubmit)="onFormSubmit()" class="form-container p-3">
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        <div class="row form-rows">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Share Name</mat-label>
                <input matInput formControlName="stockName">
                <mat-error *ngIf="!stockName.errors?.isValidStockName">Please enter a valid stock name</mat-error>
            </mat-form-field>
        </div>
        <div class="row form-rows">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Quantity</mat-label>
                <input type="number" matInput formControlName="buyQuantity">
            </mat-form-field>
        
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Buy Price</mat-label>
                <input type="number" matInput formControlName="buyPrice">
            </mat-form-field>
        </div>
        <div class="row form-rows">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Buy Date</mat-label>
                <input type="date" matInput formControlName="buyDate">
            </mat-form-field>
    
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Trade Type</mat-label>
                <mat-select formControlName="tradeType">
                    <mat-option *ngFor="let trade of tradeTypes" [value]="trade">{{trade}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Trade Description</mat-label>
                <textarea matInput formControlName="tradeDescription"></textarea>
            </mat-form-field>
        </div>
        <button [disabled]="!this.addTradeForm.valid">Submit</button>
    </form>
</div>