/* Global color palette */


/* color palatte */

$header-color: #c9bd7f;
$box-shadow-color: #abb7c9;
$button-hover-color: #9A9474;

/* font palette */

$common-font: sans-serif;

/* size palette */

$sub-header-font-size: 20px;
$common-font-size: 14px;