/* Global color palette */


/* color palatte */

$background-color: #98978e;
$card-bg-color: #e5e5e2;
$contrast-color: #838c94;
$box-shadow-color: #abb7c9;
$button-hover-color: #d4be3f;
$placeholder-color: #616367;

/* font palette */

$common-font: sans-serif;

/* size palette */

$sub-header-font-size: 25px;
$common-font-size: 14px;