<div class="container card p-4 mt-4 login-forms-common-class">
    <div class="login-common-header">
        Login
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="row">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>username</mat-label>
                <input matInput formControlName="username">
                <mat-error>Please enter a valid user name</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error>Please enter a valid password</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" [attr.disabled]="!loginForm.valid ? true : null" class="button">Login</button>
    </form>
</div>