<app-fin-log-container-card class="login-container-card" [styleObj]="cardStyle">
    <div class="login-container">
        <div class="login-header">
            Login
        </div>
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div class="input-label-container">
                    <div>username</div>
                    <input class="text-input" type="text" formControlName="username">
                </div>
                <div class="input-label-container">
                    <div>password</div>
                    <input class="text-input" type="password" formControlName="password">
                </div>
                <app-fin-log-button class="button">Login</app-fin-log-button>
            </form>
        </div>
    </div>
</app-fin-log-container-card>
{{text}}