<div class="container">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <mat-form-field class="col full-width" appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput formControlName="username">
            <mat-error>Please enter a valid stock name</mat-error>
        </mat-form-field>
        <mat-form-field class="col full-width" appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
            <mat-error>Please enter a valid stock name</mat-error>
        </mat-form-field>
        <mat-form-field class="col full-width" appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
            <mat-error>Please enter a valid stock name</mat-error>
        </mat-form-field>
        <div formGroupName="passwordForm">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password"type="password">
                <mat-error>Inalid Password</mat-error>
            </mat-form-field>
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" type="password" [errorStateMatcher]="confirmValidParentMatcher">
                <mat-error *ngIf="this.password && this.password.errors && this.password.errors['mismatch']">
                    Passwords don't match
                </mat-error>
            </mat-form-field>
        </div>
        <app-fin-log-button class="button">Sign Up</app-fin-log-button>
    </form>
</div>