<div class="container card p-4 mt-4 login-forms-common-class">
    <div class="login-common-header">
        Signu Up
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="row">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>User name</mat-label>
                <input matInput formControlName="username">
                <mat-error>{{usernameInvalidMessage}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstName">
                <mat-error>Please enter a valid stock name</mat-error>
            </mat-form-field>
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastName">
                <mat-error>Please enter a valid stock name</mat-error>
            </mat-form-field>
        </div>
        <div formGroupName="passwordForm" class="row">
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password"type="password">
                <mat-error>Inalid Password</mat-error>
            </mat-form-field>
            <mat-form-field class="col full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" type="password" [errorStateMatcher]="confirmValidParentMatcher">
                <mat-error *ngIf="this.password && this.password.errors && this.password.errors['mismatch']">
                    Passwords don't match
                </mat-error>
            </mat-form-field>
        </div>
        <button class="button" [disabled]="!signUpForm.valid">Sign Up</button>
    </form>
</div>