/* You can add global styles to this file, and also import other style files */

@import "app/themes.scss";

body {
    margin: 0px;
    font-family: $common-font;
    font-size: $common-font-size;
    background-image: url("./assets/fin-log-backdrop.jpeg");
    background-blend-mode: luminosity;
    // background-color: $background-color;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: $button-hover-color;
    }

}

button {
    background-color: $contrast-color;
    border: none;
    padding: 0.75em;
    border-radius: 0.5em;
    color: black;

    &:hover {
        background-color: $button-hover-color;
    }
}


/* Material global styles */

//placeholder color

.mat-form-field-label {
    color: $placeholder-color  !important;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $contrast-color;
}

/* Font color */
input.mat-input-element, .mat-select {
    color: $contrast-color;
    .mat-select-value {
        color: $contrast-color;
    }
}
  