/* You can add global styles to this file, and also import other style files */

@import "app/themes.scss";

body {
    margin: 0px;
    font-family: $common-font;
    font-size: $common-font-size;
    background-image: url("./assets/fin-log-backdrop.jpeg");
    background-blend-mode: luminosity;
    // background-color: $background-color;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: $button-hover-color;
        cursor: pointer;
    }

}

button {
    background-color: $contrast-color;
    border: none;
    padding: 0.75em;
    border-radius: 0.5em;
    color: black;

    &:disabled {
        opacity: 20%;
        &:hover {
            cursor: no-drop;
        }
    }

    &:hover {
        background-color: $button-hover-color;
        cursor: pointer;
    }
}


/* Material global styles */

//placeholder color

.mat-form-field-label {
    color: $placeholder-color  !important;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $contrast-color;
}

.mat-icon {
    vertical-align: middle;
}

/* Font color */
input.mat-input-element,
.mat-select {
    color: $contrast-color;

    .mat-select-value {
        color: $contrast-color;
    }
}

.mat-table {
    background-color: rgb(230, 232, 212);
    .mat-header-cell {
        color: rgb(38, 41, 27);
        font-size: 18px;
    }

    .mat-cell {
        color: rgb(48, 49, 22);
    }
}

.login-forms-common-class {
    width: 50%;
}

.login-common-header {
    font-size: $sub-header-font-size;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}